<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Crucible{% endblock %}</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Marcellus&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">

</head>

<body>
  <main>
    <div class="reg-flow-left-panel">
      <div class="reg-flow-logo-container">
        <img class="reg-flow-logo" src="{% static 'images/crucible-logo.png' %}" alt="Crucible">
      </div>
      <div class="reg-flow-centered-content">
        <div class="inner-content">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>
    <div class="reg-flow-image-container">
      <img src="{% static 'images/login_page_stock.png' %}" alt="Login Page">
    </div>
  </main>

</body>

</html>