{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}
{% block content %}

<div class="reg-flow-content subtitle">
  <div class="reg-flow-header">
    <h2 class="header-welcome">Create an account</h2>
    <p class="body1 margin-top-auto">It's quick and easy and we never ever sell information</p>
  </div>
  <form method="post">
    {% csrf_token %}
    <div class="reg-flow-scrollable-section">
      <div class="reg-flow-username-container">
        <div>
          <p class="required-field">First name</p>
          {{ form.first_name }}
        </div>
        <div>
          <p class="required-field">Last name</p>
          {{ form.last_name }}
        </div>
      </div>
      <div>
        <p class="required-field">Email</p>
        {{ form.email }}
      </div>
      <div>
        <p class="required-field">Password</p>
        {{ form.password1 }}
      </div>
      <div>
        <p class="required-field">Confirm password</p>
        {{ form.password2 }}
      </div>
      {{ form.errors }}
      <div class="password-instructions-card body1">

        <p class="subtitle"><i class="fa-solid fa-circle-info" style="padding-right: 10px; color: #066DFE;"></i></i>Password criteria</p>
        <p class="body1">To ensure the security of your account, your new password must meet the following criteria:</p>
        <ul>
          <li>Your password must contain at least 8 characters.</li>
          <li>Your password can't be a commonly used password.</li>
          <li>Your password can't be entirely numeric.</li>
        </ul>
      </div>
      <div class="checkboxes-section">
        <p class="required-field">What type of user are you?</p>
        <div class="checkbox-row">
        {{ form.role }}
        </div>
        <div class="other-text-field" id="other-role-input">
          {{ form.other_role }}
        </div>
      </div>
    </div>
    <hr>
    <div class="reg-flow-button-container">
      <button class="reg-flow-button" type="submit">Sign Up</button>
    </div>
  </form>

<!--  <p>Already a member? <a href="{% url 'login' %}">Login</a></p>-->
</div>


<div class="progress-container">
  <div class="sign-up-progress-bar"></div>
</div>
{% endblock %}