<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Marcellus&display=swap" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css2?family=Marcellus&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <div>
    <div class="construction-image">
      {% load static %}
      <img src="{% static 'images/under_construction.png' %}" alt="Under Construction">
    </div>
    <div class="construction-container">
      <p class="header1 construction-text">Argh, we’re not quite ready yet!</p>
      <p class="body1 construction-text">It’s us, not you. Thank you for your patience.</p>
      <p class="body1 construction-text">We’re still working on the in-app details of your specific journey type. Given the high stakes, we don’t want to risk rushing out software that’s inaccurate or misleading. For now, we'll work with you outside of the app.</p>
      <p class="body1 construction-text">Look out for an email in the next 3 business days.</p>
      <button class="construction-button" onclick="location.href='{% url 'landing_page' %}'">Sounds good </button>
    </div>
    <div>
    </div>
    </div>
</body>
</html>
